{% load crispy_forms_filters %}
{% load l10n %}

<div class="relative">
    <select {{ field.html_name }} {{ field|widget_attrs }} class="h-[55px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[17px] block w-full outline-0 appearance-none">
        {% for choice in field.field.choices %}
            <option value="{{ choice.0|unlocalize }}" {% if choice.0|unlocalize == field.value|unlocalize %}selected{% endif %}>
                {{ choice.1 }}
            </option>
        {% endfor %}
    </select>
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center px-4">
        <i class="material-symbols-outlined text-gray-500 dark:text-gray-400">expand_more</i>
    </div>
</div> 